.compactCard {
    display: flex;
    flex: 1;
    height: 7rem !important;
    border-radius: 0.7rem;
    color: white;
    padding: 1rem;
    position: relative;
    cursor: pointer;
  }

  .compactCard:hover{
    box-shadow: none;
  }

  .radialBar{
    flex : 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }